@page "/veterinarianList"
@using VetBlazorApp.DataLayer
@using VetBlazorApp.UseCases.GetVeterinarians
@inject NavigationManager NavManager
@inject IGetVeterinarians GetVeterinarians

<h3>VeterinarianList</h3>
<hr />
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="NavigateToCreateNewVeterinarian">Create New Veterinarian</MudButton>
<hr />
<MudDataGrid Items="Veterinarians">
    <Columns>
        <PropertyColumn Property="x => x.FirstName" Title="First Name" />
        <PropertyColumn Property="x => x.LastName" Title="Last Name" />
        <PropertyColumn Property="x => x.SocialNumber" />        
    </Columns>
</MudDataGrid>

@code {
    private IEnumerable<Veterinarian> Veterinarians = new List<Veterinarian>();

    async Task NavigateToCreateNewVeterinarian()
    {
        NavManager.NavigateTo("/createVeterinarian");
    }

    protected override async Task OnInitializedAsync()
    {
        Veterinarians = await GetVeterinarians.GetVeterinarians();
    }
}
